header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;
    width: 100%;
}

.header-wrapper {
    display: flex;
    width: 90%;
    justify-content: center;

}

h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #0F4C5C;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 1%;
    padding: 1%;
}

@media screen and (min-width: 600px) {

    h1 {
        font-size: 30px;
    }
}