.word {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.user-guesses {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 2%;
}

table {
    border: none;
    table-layout: fixed;
    width: 250px;
    min-width: 250px;
    padding: 2%;
    margin: 3%;
    border-collapse: separate;
    border-spacing: 2px;

}

th,
td {
    // border: 1px solid #ddd;
    height: 50px;
    background-color: #EAEAEC;
    text-align: center;
    font-size: 35px;
    height: 43px;
    background-color: #EAEAEC;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;

    vertical-align: middle;

}

@media screen and (min-width: 600px) {
    .user-guesses {
        padding: 0.5%;
        margin: 1%;

    }

    table {
        width: 350px;
        padding: 1%;
        margin: 1%;
    }

    td {
        height: 64px;
    }

}